:root{ 
    --bg:#0a1428eb;
    --bg2: #112144d4;
    --primary:#2563EB;
    --accent:#38BDF8;
    --text:#f8fafc;
    --muted:#94A3B8;
}
body{ 
    background: var(--bg);
    color:var(--muted);
    font-family: "Poppins",sans-serif;
    font-size: 01.5rem;
}
html{ 
    scroll-behavior: smooth;
}
header{ 
    height:200px;
    background-color: midnightblue;
    border-radius: 7px;
    margin-top: auto;
    width: 100%;
    margin: 0;
    padding:0;
    font-family: 'sans serif';
    box-shadow: 0px 15px 30px rgba( 0, 0, 0, 0.3);
}
main{ 
    flex: 1;
}
/* Liens */
.liens ul a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    border-bottom: 0.3s;
    width: 100px;
    display: inline-block;
    justify-content: space-between;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    padding: 15px 0;
}
.liens ul a:hover{
    color: cyan; 
    border-bottom: 3px solid;
     transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba( 0, 0, 0, 0.3);


}
.navbar{ 
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}
.liens ul {
    list-style:none;
    padding: 0;
    margin-left:20rem;
    display: flex;
    height: 100%;
    gap: 20px;
 }

/* Titre */
.logo {
    font-size: 5rem;
    text-align: left;
    color: white;
    font-weight: 1000;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left:5px;
}
.logo span{ 
    color: var(--accent);
    text-shadow: 0 0 15px var(--primary);
}
/* contenu principal */
h2{ 
    font-size: 50px;
    margin-left:10px;
}

p{ 
    color: var(--tex);
    font-weight: 400;
    color: white;
}
p span{ 
    color: var(--primary);
    text-shadow: 0 0 15px var(--primary);
}
.paragraphe1{ 
    color: white;
    width: 50%;
    justify-content: left;
    font-weight: 400;
}
h3{
    font-size: 45px;
    font-weight: 600;
    margin-left: 10px;
 }
 .btn{ 
     background-color: rgba(255, 255, 255, 0.306);
     border:1px solid rgba(255, 255, 255, 0.213);
     backdrop-filter: blur(10px);
    padding: 12px 20px;
    border-radius: 10px;
 }
 .btn:hover{ 
     cursor: pointer;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.383);
    transform: translateY(-05px);
    
 }
 .btn a { 
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    font-size: 01rem;
 }
 /* projets */
 .projects{ 
    display: flex;
    gap: 10px;
    margin-top: 10px;
 }
 #project1{ 
    background-color: rgba(255, 255, 255, 0.08);
    border:1px solid rgba( 255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 17px;
    width:50%;
    text-align: center;
    margin-top: 10px;
    padding: 1.5px;
    transition: transform 0.3s ease;
 }
 #project1:hover{ 
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba( 0, 0, 0, 0.3);
 }
 #project2{ 
     background-color: rgba(255, 255, 255, 0.08);
     border:1px solid rgba( 255,255,255,0.15);
     backdrop-filter: blur(10px);
    border-radius: 17px;
    width:50%;
    text-align: center;
    margin-top: 10px;
    padding: 1.5px;
    transition: transform 0.3s ease;

 }
 #project2:hover{ 
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba( 0, 0, 0, 0.3);

 } 
 #project3{ 
     background-color: rgba(255, 255, 255, 0.08);
     border:1px solid rgba( 255,255,255,0.15);
     backdrop-filter: blur(10px);
    border-radius: 17px;
    width:50%;
    text-align: center;
    margin-top: 10px;
    padding: 1.5px;
    transition: transform 0.3s ease;

 }
 #project3:hover{ 
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba( 0, 0, 0, 0.3);

 } 
 #project4{ 
    background-color: rgba(255, 255, 255, 0.08);
    border:1px solid rgba( 255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 17px;
    width:50%;
    text-align: center;
    margin-top: 10px;
    padding: 1.5px;
    transition: transform 0.3s ease;
    padding-bottom: 20px;
 }
 #project4:hover{ 
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba( 0, 0, 0, 0.3);
 } 
 /* Compétences */
 .skills{  
    display:flex ;
 }
 #skill1{ 
    background-color:  rgba(255, 255, 255, 0.08);
    border:1px solid rgba( 255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 7px;
    width:50%;
    text-align: center;
    margin-top: 10px;
    padding: 1.5px;
    transition: transform 0.3s ease;
    padding-bottom: 20px;
 }
 #skill1:hover{ 
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba( 0, 0, 0, 0.3);
 } 










 /* footer */
 .footer{ 
    background:linear-gradient(180deg,#050b1d,#02040c);
    padding: 50px 20px;
    text-align: center;
    color: white;
    margin-top:80x;
    border-top: 2px solid rgba( 255,255,255,0.2);
 }
 .footer-conteiner{ 
    max-width: 1000px;
    margin: auto;
 }
 .footer-title{ 
    font-size: 26px;
    font-weight: bold;
    color: #00f7ff;
    margin-bottom: 15px;
    text-shadow: 0 0 15px rgba(0,247,255,0.6);
 }
 .footer-links{ 
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 25px;
 }
 .footer-links a {
     color: white;
     text-decoration: none;
     font-size: 15px;
     transition: 0.3s;
 }
 .footer-socials {
    margin-bottom: 25px; 
 }
 .footer-socials a { 
    font-size: 22px;
    margin: 0 12px;
    color: white;
    transition: 0.3s;
 }
 .footer-socials a:hover{ 
    color: #00f7ff;
    transform: scale(1.2);
    text-shadow: 0 0 15px #00f7ff;
 }
 .footer-copy{ 
    font-size: 13px;
    opacity: 0.5s;
 }


 
























